body {
  padding-top: 70px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 700;
  color: yellow;
}

.nav-item {
  font-size: large;
  font-weight: 700;
}

.eye {
  margin-right: 1rem;
}

.charitynum {
  font-style: italic;
  font-size: large;
}

#about {
  margin-top: 100px;
}

.card-text {
  font-size: large;
}

.contactheader {
  text-align: center;
}

.contactways {
  font-size: large;
  font-weight: 400;
  text-align: center;
}

.abouttext {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  font-weight: 700;
}

.donatebutton {
  margin-top: 20px;
  padding: 20px;
  border-radius: 25px;
  background-color: rgb(0, 225, 255);
}

.dbuttontext {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-decoration: none;
}

.footer {
  padding: 5px;
  background-color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
}