body {
  padding-top: 65px;
}

.navbar-brand {
  font-size: 25px;
  font-weight: 700;
  color: yellow;
}

.nav-item {
  font-size: large;
  font-weight: 700;
}

.eye {
  margin-right: 1rem;
}

.charitynum {
  font-style: italic;
  font-size: large;
}

.card-text {
  font-size: large;
}

.contactways {
  font-size: large;
  font-weight: 400;
}