* {
  margin: 0;
  padding: 0;
}

.headerbar {
  background-color: gray;
  height: 100px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 80px;
  color: yellow;
}

.logo{
  margin-right: 20px;
  float: inline-start;
}
body {
  background-color: skyblue;
}
